@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@model AcmeCorp.Web.Models.AddEntryViewModel
@{
    ViewData["Title"] = "Prize Draw";
}

<!--<h1 style="text-align: center; vertical-align:middle" >Acme Corporation Prize Draw!</h1>-->
<h1 class="text-center">Acme Corporation Prize Draw!</h1>
<div class="text-center">Please fill in your details to enter the prize draw. Each valid product serial number can be entered twice. </div>

<div class="mt-3"></div>

<form method="post">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">First name</label>
            <input type="text" class="form-control" asp-for="FirstName"/>
            <span asp-validation-for="FirstName" class="text-danger"></span><br />
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Last name</label>
            <input type="text" class="form-control" asp-for="LastName"/>
            <span asp-validation-for="LastName" class="text-danger"></span><br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span><br />
        </div>

        <div class="col-md-6 mb-3">
            <label class="form-label">Date of Birth</label>
            <input type="date" class="form-control" asp-for="DateOfBirth"/>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span><br />
        </div>
    </div>

    <div class="mt-3">
        <label class="form-label">Serial number</label>
        <input type="text" class="form-control" asp-for="Serial"/>
        <span asp-validation-for="Serial" class="text-danger"></span><br />
    </div>

    <div class="mt-3 text-center">
        <button type="submit" class="btn btn-primary">ENTER</button>
    </div>
</form>

@if (ViewBag.NotificationMessage != null)
{
    <div class="mt-3">
        <div class="alert alert-warning" role="alert">
            @ViewBag.NotificationMessage
        </div>
    </div>
}