@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Acme Corporation website</h1>
    <p>Click on the prize draw link in the top bar to enter into our prize draw!</p>
</div>
