@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Acme Corporation website</h1>
    <p>Click on the prize draw link in the top bar to enter into our prize draw!</p>
</div>

<div class="text-center">
    <img  src="https://www.gannett-cdn.com/presto/2022/02/17/NABJ/9f2016aa-be3c-4dbb-a1cb-0de34fb5a69e-Coyote_Acme_Warner_Bros..jpg?crop=654,368,x37,y0&width=654&height=368&format=pjpg&auto=webp" />
</div>
